<% if (flow) { %>// @flow
<% } %>import * as React from 'react';
import { pure } from 'recompose';
import classNames from 'classnames/bind';

import styles from './<%= name %>.view.css';

// Use css-modules. This allows to use `cls('host') that returns styles.host's value that is real classname.
const cls = classNames.bind(styles);
<% if (flow) { %>
export type <%= name %>ViewProps = {};
<% } %>
/**
 * View part of <%= name %> component.
 *
 * @param {<%= name %>ViewProps} $1 Props passed from parent component.
 * @returns {?React.Node} Rendered <%= name %>.
 */
export const <%= name %>ViewPlain = ({}<% if (flow) { %>: <%= name %>ViewProps<% } %>) => (
  <div className={cls('host')}>
    <%= name %>View works!
  </div>
);

// Uncomment default props if need
// <%= name %>View.defaultProps = {};

export const <%= name %>View = pure(<%= name %>ViewPlain);
